/* Home.css */

body{
  background-color: rgb(255, 255, 255);
  /* font-family: Arial, sans-serif; */
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
    margin: 0 auto;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }

  .intro{
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Styles for the links */
  .right {
    width: 40%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Styles for the buttons */
  button {
    width: 200px;
    background-color: #007bff;
    color: #fff;
    border: none;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .intro h1 {
    /* Apply styles using a preprocessor like Sass or Less */
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .intro p {
    font-size: 1rem;
    margin-bottom: 20px;
  } 

  .right h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
