/* InputControl.module.css */

.input::placeholder {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.input:focus::placeholder {
  opacity: 1;
}

.inputContainer {
  position: relative;
}

.input {
  padding: 10px;
  border: 1px solid cadetblue; /* Default border color */
  border-radius: 5px;
  width: 100%;
  transition: border-color 0.3s ease-in-out; /* Transition for border color */
}


.label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  background-color: white;
  padding: 0 5px;
  color: cadetblue;
  font-size: 0.9rem;
  font-weight: 500;
  pointer-events: none;
  transition: 0.3s ease-in-out;
}

.input:focus + .label,
.input:not(:placeholder-shown) + .label,
.input:focus + .label {
  top: -2px;
  background-color: white;
  padding: 0 5px;
  color: cadetblue;
  font-size: 0.9rem;
  transition: 0.3s ease-in-out;
}
