/* OutputControl.module.css */

  
  .output {
    padding: 8px 10px;
    border: 1px solid cadetblue; /* Default border color */
    border-radius: 5px;
    width: 100%;
    color: #647674; /* Text color for output */
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
  }
  
  .label {
    top: 1px;
    left: 8px;
    padding: 0 5px;
    color: cadetblue;
    font-size: 0.8rem;
    font-weight: 700;
    pointer-events: none;
    transition: 0.3s ease-in-out;
  }
  