.container {
    height: 100%;
    min-height: 100vh;
    width: 100%;
    background: white;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .innerBox {
      min-width: 480px;
      height: fit-content;
      width: fit-content;
      background-color: aliceblue;
      box-shadow: 0.5px 0.5px 4px rgb(121, 121, 121);
      padding: 30px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      gap: 30px;
  }
  
  .footer{
      display: flex;
      flex-direction: column;
      gap: 10px;
  }

  .footer .errorMsg{
    font-weight: bold;
    font-size: 0.875rem;
    color: #ff3300;
  }
  .footer button{
      outline: none;
      border: none;
      background-color: #12aafc;
      color: antiquewhite;
      font-weight: bold;
      border-radius: 5px;
      font-size: 1rem;
      padding: 10px 16px;
      width: 100%;
      transition: 100ms;
      cursor: pointer;
  
  }
  
  .footer button:disabled{
    background-color: gray !important;
  }

  .footer button:hover{
      background-color: rgb(3, 84, 57);
  }
  
  .footer p{
      font-weight: 700;
      color: black;
  }
  .footer p span a{
      font-weight: bold;
      color: #12aafc;
      letter-spacing: 1px;
      font-size: 1rem;
      text-decoration: none;
  
  }
  